@model Core.Entities.research

@{
    ViewData["Title"] = "Details";
}

<div style="margin:160px; padding:120px;">
    <h1>Details</h1>

    <div>
        <h4>PortfolioItem</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ResearchName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ResearchName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Discription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Discription)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.year)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.year)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.reads)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.reads)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.owner)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.owner)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.owner2)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.owner2)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Author3)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Author3)
            </dd>

        </dl>
    </div>
    <div>
        <a asp-action="Edit" class="btn btn-dark" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
    </div>

</div>