@model HomeViewModel


<section id="services" class="services section-bg" style="background-color: #9BA4B4; ">
    <div class="container">
        <div class="section-title" data-aos="fade-up">
            <h2>Publications</h2>
            <p>Here is all the research.</p>
        </div>


        @foreach (var research in Model.researches)
        {
            <!--<div data-aos="fade-up" class="research-container" >

                <div class="icon-box" style="min-height: 75%;">
                    <div class="icon">@research.year</div>
                    <h4 class="title"><a asp-controller="Home" asp-action="Preview" asp-route-id="@research.Id">@research.ResearchName</a></h4>
                    <div class="description" >@research.Discription</div>

                    <section id="blog" class="blog">
                        <div data-aos="fade-up" style="margin-left:-30px; margin-top: -23px;  color: #14274E; ">
                            <div>
                                 <article class="entry entry-single" style="box-shadow: none;">
                                        <div class="entry-meta">
                                            <ul>
                                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href=""> @research.owner</a></li>
                                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href=""><time datetime="2020-01-01">@research.year</time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="">12 Comments</a></li>-->
            <!--<li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="">@research.reads Reads</a></li>
                                                </ul>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                        </section>
                    </div>
                </div>-->

          <section id="blog" class="blog" >
                <div class="container" data-aos="fade-up" >

                    <div class="row" >

                        <div class="col-lg-12 entries" >
                            <article class="entry" style="background-color: #fff;">

                                <div class="entry-img">
                                    <!-- <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid"> -->
                                </div>

                                <h2 class="entry-title">
                                    <a asp-controller="Home" asp-action="Preview" asp-route-id="@research.Id">
                                        @research.ResearchName
                                    </a>
                                </h2>

                                <div class="entry-meta">
                                    <ul>
                                        <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a>@research.owner</a></li>
                                        <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a ><time datetime="2020-01-01">@research.year</time></a></li>
                                        <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a asp-controller="Home" asp-action="Comments" 
                                                                                                                 asp-route-id="@research.Id" > Comments</a></li>
                                        <li class="d-flex align-items-center"><i class="bi bi-book"></i> <a>@research.reads Reads</a></li>
                                    </ul>
                                </div>

                                <div class="entry-content">
                                    <p>
                                        @research.Discription
                                    </p>
                                    <div class="read-more">
                                        <a asp-controller="Home" asp-action="Preview" asp-route-id="@research.Id">
                                            Read More
                                        </a>
                                    </div>
                                </div>

                            </article><!-- End blog entry -->
                        </div>
                    </div>
                </div>
           </section>
          }
          </div>

           <!-- ======= Clients Section ======= -->
           <section id="clients" class="clients" style="background-color: #fff;">
               <div class="container" data-aos="fade-up">
               </div>
           </section><!-- End Clients Section -->
        </section>
