@model HomeViewModel
    <!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs" style="background-color: #9BA4B4;">
    <div class="container">
        <ol>
            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li>Publications</li>
        </ol>
        <h2>Publications</h2>
    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Clients Section ======= -->
<section id="clients" class="clients" style="background-color: #fff;">
    <div class="container" data-aos="fade-up">
    </div>
</section><!-- End Clients Section -->
<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg" style="background-color: #9BA4B4; margin-top: -90px;">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Publications</h2>
            <p>Here is all the research I've done.</p>
        </div>
        @foreach (var research in Model.researches)
        {
            <div data-aos="fade-up">

                <div class="icon-box">
                    <div class="icon">
                        @research.year
                    </div>
                    <h4 class="title"><a asp-controller="Home" asp-action="Preview" asp-route-id="@research.Id">@research.ResearchName</a></h4>
                    <p class="description">
                        @research.Discription
                    </p>
                    <section id="blog" class="blog">
                        <div data-aos="fade-up" style="margin-left:-30px; margin-top: -23px;  color: #14274E; ">

                            <div>

                                <div>

                                    <article class="entry entry-single" style="box-shadow: none;">

                                        <div class="entry-meta">
                                            <ul>
                                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html"> @research.owner</a></li>
                                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">@research.year</time></a></li>
                                                @*<li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>*@
                                                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">@research.reads Reads</a></li>

                                            </ul>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <br />

        }
    </div>
   
            <!-- ======= Clients Section ======= -->
            <section id="clients" class="clients" style="background-color: #fff;">
                <div class="container" data-aos="fade-up">
                </div>
            </section><!-- End Clients Section -->
</section>