@model HomeViewModel

<head>
    <!-- Vendor CSS Files -->
    <link href="~/profile/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/profile/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/profile/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/profile/assets/css/about.css" rel="stylesheet">



</head>

<body>

    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route" style="background-color: #9BA4B4;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-6 col-md-5">
                                        <div class="about-img">
                                            <img src="~/imgeteam/6.jpg" class="img-fluid rounded b-shadow-a" alt="">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-7">
                                        <div class="about-info">
                                            <p><span class="title-s">Name: </span> <span>Roaa ZSabah Nasar</span></p>
                                            <p><span class="title-s">The field:</span> <span>Web service recommender system</span></p>
                                            <p>
                                                <span class="title-s">Email: </span>
                                                <span>
                                                    <a href="mailto:roaa.sabah@itnet.uobabylon.edu.iq">roaa.sabah@itnet.uobabylon.edu.iq</a>
                                                </span>
                                            </p>
                                            <p><span class="title-s">Phone: </span> <span>....</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="skill-mf">
                                    <p class="title-s">Skill</p>
                                    <span>web design software</span> <span class="pull-right">85%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span>Excel for data analysis</span> <span class="pull-right">75%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span>PHP</span> <span class="pull-right">50%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span>MS Office (Word, PowerPoint, and Excel)</span> <span class="pull-right">90%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="about-me pt-4 pt-md-0">
                                    <div class="title-box-2">
                                        <h5 class="title-left">
                                            About me
                                        </h5>
                                    </div>
                                    <p class="lead">
                                        <B> Education: -</B>
                                        I obtained a Bachelor’s degree from Babylon University / College of
                                        Information Technology / Information Networks Department in the year
                                        2015-2016, with a sequence of 7 in the department and an average of
                                        .74.763%
                                        I obtained a master's degree from the University of Babylon / College of
                                        Information Technology / Department of Information Networks in the year
                                        2019-2020, in the first sequence and with an average of 82.338%.

                                    </p>
                                    <p class="lead">
                                        <B>TITLES OF THESES:</B>
                                        1. Bachelor’s project
                                        (Attendance Management System)
                                        2. M.Sc. theses
                                        (Context Modelling Recommendation for Web Services)

                                    </p>
                                    <p class="lead">
                                        <B>Certificates:</B>
                                        CMSJ-1 Training Course Certificate
                                        > Certificate in the online workshop (Translation: National Identity, Ideology, and
                                        Narrativity)
                                        > Certificate of participation in the workshop on the harm of mobile phones to
                                        children.
                                        > Certificate in python basics programming language.

                                    </p>

                                    <p class="lead">
                                        <B>PUBLICATIONS (Journals and Conferences)</B>
                                        1. Context Web Service Recommender Supported by User-Based Classification.
                                        2. QoS Prediction for Web Services Using User-Based Classification.


                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients" style="background-color: #fff;">
        <div class="container" data-aos="fade-up">
        </div>
    </section><!-- End Clients Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg" style="background-color: #9BA4B4; margin-top: -90px;">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Publications</h2>
                <p>Here is all the research I've done.</p>
            </div>
            @foreach (var research in Model.researches)
            {
                if (research.owner2 == "Asst. Lec.Roaa Sabah Naser")
                {


                    @*<div data-aos="fade-up">

                    <div class="icon-box">
                        <div class="icon">
                            @research.year
                        </div>
                        <h4 class="title"><a asp-controller="Home" asp-action="Preview" asp-route-id="@research.Id">@research.ResearchName</a></h4>
                        <p class="description">
                            @research.Discription
                        </p>
                        <section id="blog" class="blog">
                            <div data-aos="fade-up" style="margin-left:-30px; margin-top: -23px;  color: #14274E; ">

                                <div>

                                    <div>

                                        <article class="entry entry-single" style="box-shadow: none;">

                                            <div class="entry-meta">
                                                <ul>
                                                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a asp-action="Roaa" asp-controller="Home">Asst. Lec.Roaa Sabah Naser</a></li>
                                                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href=""><time datetime="2020-01-01">@research.year</time></a></li>
                                                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="">@research.reads Reads</a></li>
                                                </ul>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <br />*@


                    <section id="blog" class="blog">
                        <div class="container" data-aos="fade-up">

                            <div class="row">

                                <div class="col-lg-12 entries">
                                    <article class="entry" style="background-color: #fff;">

                                        <div class="entry-img">
                                            <!-- <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid"> -->
                                        </div>

                                        <h2 class="entry-title">
                                            <a asp-controller="Home" asp-action="Preview" asp-route-id="@research.Id">
                                                @research.ResearchName
                                            </a>
                                        </h2>

                                        <div class="entry-meta">
                                            <ul>
                                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a>@research.owner2</a></li>
                                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a><time datetime="2020-01-01">@research.year</time></a></li>
                                                <li class="d-flex align-items-center">
                                                    <i class="bi bi-chat-dots"></i> <a asp-controller="Home" asp-action="Comments"
                                                                                       asp-route-id="@research.Id"> Comments</a>
                                                </li>
                                                <li class="d-flex align-items-center"><i class="bi bi-book"></i> <a>@research.reads Reads</a></li>
                                            </ul>
                                        </div>

                                        <div class="entry-content">
                                            <p>
                                                @research.Discription
                                            </p>
                                            <div class="read-more">
                                                <a asp-controller="Home" asp-action="Preview" asp-route-id="@research.Id">
                                                    Read More
                                                </a>
                                            </div>
                                        </div>

                                    </article><!-- End blog entry -->
                                </div>
                            </div>
                        </div>
                    </section>
                }
            }
        </div>

    </section>
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients" style="background-color: #fff;">
        <div class="container" data-aos="fade-up">
        </div>
    </section><!-- End Clients Section -->
</body>