@model Core.Entities.admin

@{
    ViewData["Title"] = "Details";
}

<div style="margin:160px; padding:120px;">
    <h1>Details</h1>

    <div>
        <h4>PortfolioItem</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.field)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.field)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.about)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.about)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Avatar)
            </dt>
            <dd class="col-sm-10">
                <img src="~/imgeteam/@Model.Avatar" class="img-thumbnail" style="width:64px; height:64px;" />
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" class="btn btn-dark" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
    </div>

</div>